.home .nav-area {
  float: left;
  margin-top: 20px;
  margin-right: 10px;
  background: #fff url("../../../static/images/main-bg.png") no-repeat;
  background-size: 100% 100%;
  width: 70%;
  height: 390px;
  position: relative;
  overflow: auto;
}
.home .nav-area .real-time-area {
  padding-left: 43px;
  padding-top: 47px;
  background: url("../../../static/images/real-time.png") no-repeat;
  width: 194px;
  height: 174px;
  position: absolute;
  top: -15px;
  left: 26px;
}
.home .nav-area .nav-list {
  margin-left: 263px;
  padding-left: 25px;
  padding-top: 15px;
}
.home .nav-area .nav-list li {
  float: left;
  margin: 27px .1% 0 .1%;
}


.home .module-wrap .module-title {
  height: 30px;
}
.home .module-wrap .module-title h3 {
  cursor: pointer;
  padding-left: 30px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background-size: 15px 13px;
  background: url("../../../static/icon/home/module-title.png") no-repeat 10px 9px;
}
.home .module-wrap .module-content {
  box-shadow: 0 4px 10px rgba(0, 45, 111, 0.7);
  padding: 24px 10px;
}
.home .module-content label {
  width: 50px !important;
  font-size: 18px;
  color: #008CFF;
  font-weight: bold;
}
.home .module-content .query-form {
  margin-bottom: 8px;
}
.home .module-content .query-form .el-form--inline .el-form-item {
  margin-bottom: 0;
}
.home .module-content .query-form .el-input__inner {
  width: 130px;
  border-radius: 20px;
  margin-top: 2px;
  border-color: #fff;
  box-shadow: 0 0 10px #4a92fe;
}
.home .el-input__prefix, .el-input__suffix {
  top: 2px;
}
.home .module-content .data-card {
  float: left;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 10px;
}
.home .module-content .data-card .data-item {
  display: inline-block;
  text-align: center;
}
.home .module-content .data-card .data-item .item-name {
  font-size: 14px;
  font-weight: bold;
  color: #008CFF;
  padding-bottom: 8px;
}
.home .module-content .data-card .data-item .item-content {
  font-size: 16px;
  color: #333333;
}
.home .module-content .card-1 {
  width: 45%;
  height: 115px;
  background: url("../../../static/images/card-1.png") no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.home .module-content .card-1 .data-item {
  position: absolute;
}
.home .module-content .card-1 .data-item p {
  display: inline-block;
}
.home .module-content .card-1 .item-1 {
  top: 19px;
  left: 29px;
}
.home .module-content .card-1 .item-1 p {
  display: block;
}
.home .module-content .card-1 .item-2 {
  top: 19px;
  left: 100px;
}
.home .module-content .card-1 .item-3 {
  top: 50px;
  left: 100px;
}
.home .module-content .card-1 .item-4 {
  top: 82px;
  left: 100px;
}
.home .module-content .card-1 .item-2 .item-name {
  padding-right: 32px;
}
.home .module-content .card-1 .item-3 .item-name {
  padding-right: 32px;
}
.home .module-content .card-1 .item-4 .item-name {
  padding-right: 18px;
}

.home .module-content .card-2 {
  width: 50%;
  height: 115px;
  background: url("../../../static/images/card-2.png") no-repeat;
  background-size: 100% 100%;
  margin-left: 19px;
}
.home .module-content .card-2 .data-item {
  padding: 39px 0 0 20px;
}

.home .module-content .card-3 {
  width: calc(100% - 10px);
  height: 115px;
  background: url("../../../static/images/card-3.png") no-repeat;
  background-size: 100% 100%;
  padding-left: 5px;
}
.home .module-content .card-3 .data-item {
  padding: 39px 0 0 45px;
}

.home .module-wrap.survey {
  float: left;
  margin-top: 10px;
  height: 400px;
  width: calc(30% - 18px);
}
.home .module-wrap.survey .module-title {
  background: url("../../../static/icon/home/module-survey.png") no-repeat;
}
.home .module-wrap.survey .module-content {
  height: 322px;
}

.home .module-wrap.result {
  position: absolute;
  top: 410px;
  margin-top: 15px;
  height: 572px;
  width: 75%;
}
.home .module-wrap.result .module-title {
  background: url("../../../static/icon/home/module-result.png") no-repeat;
}
.home .module-wrap.result .module-content {
  height: 522px;
  padding: 10px;
}

.home .module-wrap.duty {
  position: absolute;
  top: 410px;
  left: 75%;
  margin-left: 10px;
  margin-top: 15px;
  height: 572px;
  width: 24%;
}
.home .module-wrap.duty .module-title {
  background: url("../../../static/icon/home/module-duty.png") no-repeat;
}
.home .module-wrap.duty .module-content {
  height: 524px;
  padding: 8px 9px 10px 9px;
}


/*点名结果列表*/
.home .el-table {
  color: #333;
}

/*表头底线*/
.home .el-table thead th.is-leaf {
  border-bottom: 1px solid #4A92FE;
}
/*表头文字样式*/
.home .el-table thead {
  color: #008CFF;
  font-size: 16px;
}
/*表头的内边距*/
.home .el-table th {
  padding: 8px 0;
}

.home .el-table th, .el-table td {
  text-align: center;
  border-bottom: 0;
}
.home .el-table td{
  padding: 5px 10px 4px 10px;
}
.home .el-table td .cell {
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0;
}

.home .el-table--striped .el-table__body tr.el-table__row--striped td {
  background: #E7F1FF;
}
.home .el-button--text {
  padding: 0;
  font-size: 12px;
  color: #008CFF;
  width: 52px;
}
.home .el-button+.el-button {
  margin-left: 0;
}

.home .el-popover {
  top: 100px;
}
.home .duty .el-table thead th.is-leaf {
  background-color: #4A92FE;
  color: #fff;
}


.home .statusText {
  font-weight: bold;
}
.home .statusText-normal {
  color: #097C25;
}
.home .statusText-warning {
  color: #f00;
}
.home .warning {
  margin: auto;
  width: 80px;
  padding-left: 19px;
  background: url("../../../static/icon/home/icon_warning.png") no-repeat;
  background-position: 13px 3px;
}
.home .normal {
  margin: auto;
  width: 80px;
  padding-left: 19px;
  background: url("../../../static/icon/home/icon_normal.png") no-repeat;
  background-position: 13px 3px;
}


.home .h-btn-wrap {
  width: 140px;
  cursor: pointer;
}
.home .h-btn-wrap .btn-icon {
  margin-left: 11px;
  width: 118px;
  height: 118px;
  overflow: hidden;
}
.home .h-btn-wrap .btn-icon img {
  width: 100%;
  height: 100%;
}
.home .h-btn-wrap .btn-name {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
