.duty-list {
  padding: 0 10px;
  height: 100%;
  background-color: #ECECEC;
}
.duty-list .nav-bar {
  padding: 20px 15px;
  height: 42px;
  line-height: 42px;
}
.duty-list .nav-bar label {
  font-size: 22px;
  color: #008CFF;
  font-weight: bold;
}
.duty-list .nav-bar .pills-nav-area {
  display: inline-block;
}
.duty-list .nav-bar .control-btn {
  float: right;
}
.my-btn {
  padding: 0 21px !important;
  font-weight: bold !important;
  font-size: 18px !important;
  height: 40px !important;
  box-shadow: 0 0 10px #4a92fe !important;
  color: #008CFF !important;
  margin-left: 12px!important;
}

.duty-list .content-area {
  /*width: 1880px;*/
  height: 908px;
  background: #fff url("../../../../static/images/rooms_bg.png") no-repeat;
  background-size: 100% 100%;
}
.duty-list .content-area .control-area {
  float: left;
  width: 260px;
  height: 908px;
  background-color: #fff;
}
.duty-list .content-area .control-area .control {
  height: 878px;
  margin: 15px 0;
  border-right: 1px solid #4A92FE;
  position: relative;
}
.duty-list .content-area .control-area .control .tips {
  color: #B4B4B4;
  position: absolute;
  top: 90px;
  left: 42px;
}
.duty-list .content-area .control-area .control .tips i {
  color: #4a92fe;
  margin-right: 5px;
}
.duty-list .content-area .control-area .control .el-form {
  padding-top: 40px;
}
.duty-list .content-area .control-area .control .el-form .el-form-item .el-form-item__label {
  color: #4A92FE;
  font-weight: bold;
  font-size: 18px;
}
.duty-list .content-area .control-area .control .el-form .el-date-editor.el-input {
  width: 152px;
}
.duty-list .content-area .control-area .control .el-form .el-input__inner {
  width: 152px;
  border-radius: 20px;
  margin-top: 2px;
  height: 40px;
  border-color: #fff;
  box-shadow: 0 0 10px #4a92fe;
}
.el-input__prefix, .el-input__suffix {
  top: 2px;
}
.duty-list .content-area .control-area .control .el-checkbox {
  padding-left: 43px;
  padding-top: 27px;
  color: #4a92fe;
  font-size: 14px;
}
.duty-list .content-area .control-area .control .el-checkbox .el-checkbox__inner {
  width: 18px;
  height: 18px;
  border-color: #4a92fe;
}
.duty-list .content-area .control-area .control .el-checkbox .el-checkbox__inner::after {
  height: 10px;
  left: 6px;
}
.duty-list .content-area .control-area .control .query-btn-area {
  padding-top: 32px;
  padding-left: 43px;
}
.duty-list .content-area .control-area .control .query-btn-area .my-btn-duty {
  font-size: 18px;
  color: #4a92fe;
  font-weight: bold;
  border-radius: 40px;
  border-color: #4a92fe;
  box-shadow: 0 0 10px #4a92fe;
}
.duty-list .content-area .control-area .control .time-list {
  width: 180px;
  height: 600px;
  margin-top: 10px;
  margin-left: 40px;
  overflow-y: scroll;
}
.duty-list .content-area .control-area .control .time-list ul li {
  height: 39px;
  line-height: 39px;
  border-bottom: 1px solid #ececec;
  color: #666;
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
}
.duty-list .content-area .control-area .control .time-list ul li button {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  width: 40px;
  height: 20px;
  background-color: #4A92FE;
  color: #fff;
  font-size: 12px;
  border: 0;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 0 10px #4A92FE;
}

.duty-list .content-area .areas-menu {
  background-color: #fff;
  float: left;
  padding: 25px 10px;
  width: 300px;
  height: 858px;
  overflow: hidden;
  position: relative;
}

.duty-list .content-area .areas-content {
  float: left;
  width: calc(100% - 580px);
  height: 908px;
}
.duty-list .content-area .areas-content .rooms-list {
  width: calc(100% - 20px);
  height: 700px;
  background-color: #fff;
  padding-top: 30px;
  margin-top: 80px;
  margin-left: 10px;
  position: relative;
}
.duty-list .content-area .areas-content .rooms-list .rooms-list-head {
  padding-left: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
  width: calc(100% - 10px);
  height: 30px;
  position: absolute;
  top: 0;
  background: url("../../../../static/icon/other/icon_rooms_head.png") no-repeat 0 0;
  background-size: 100% 100%;
}
.duty-list .content-area .areas-content .rooms-list .add-check-all {
  position: absolute;
  top: 50px;
  left: 20px;
  z-index: 999;

}
.duty-list .content-area .areas-content .rooms-list .ang-rooms {
  /*width: 1210px;*/
  height: 645px;
  padding: 55px 10px 0;
  overflow: hidden;
  background: url("../../../../static/images/rooms_list_bg.png") no-repeat;
  background-size: 100%;
  position: relative;
}
.duty-list .content-area .areas-content .form-btn {
  text-align: center;
  padding-top: 20px;
}
.duty-list .content-area .areas-content .form-btn .my-btn-named {
  padding: 0 21px !important;
  font-weight: bold;
  font-size: 18px;
  height: 40px;
  box-shadow: 0 0 10px #4a92fe;
  color: #008CFF;
  margin-left: 12px!important;
}
.duty-list .content-area .areas-content .form-btn .my-btn-named-ghost {
  background-color: transparent;
  color: #fff!important;
  font-size: 22px!important;
  padding: 11px 42px 11px 75px!important;
  margin: 0 25px;
  height: auto!important;
  border-radius: 23px;
  border: 2px solid #fff;
  cursor: pointer;
  position: relative;
}
.duty-list .content-area .areas-content .form-btn .my-btn-named-ghost .btn-icon {
  position: absolute;
  top: 8px;
  left: 42px;
  display: inline-block;
  width: 28px;
  height: 28px;
}
.duty-list .content-area .areas-content .form-btn .my-btn-named-ghost .btn-icon-submit {
  background: url("../../../../static/icon/other/icon_submit.png") no-repeat;
}
.duty-list .content-area .areas-content .form-btn .my-btn-named-ghost .btn-icon-reset {
  background: url("../../../../static/icon/other/icon_reset.png") no-repeat;
}
.notAllCheck {
  color: #fff!important;
  border-color: #4A92FE!important;
  background-color: #4A92FE!important;
  box-shadow: 0 0 10px #4a92fe;
}
